* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #fcf0dd;
    --text-color: #675e52;
    --main-color: #ee8d8d;
    --secondary-color: #5d5c61;    
}

html {
  scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}

/* dis is navbar  */
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 40px;
    transition: background 0.3s ease-in-out;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}

span {
    color: var(--main-color)
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a.active {
    color: var(--main-color);
}

.main a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.section {
    padding: 100px 40px;
    /* padding atas/bawah 100px dan kiri/kanan 40px */
    margin-top: 80px;
}

.section-home {
    padding: 80px 40px;
    /* padding atas/bawah 100px dan kiri/kanan 40px */
    margin-top: 30px;
    /* background-image: url(img/sky_background.jpg);
    background-attachment: fixed;
    background-size: cover; */
    
    
}

.auto-type {
    color: var(--main-color);
    font-size: 3.0rem;
}       

.profile {
    width: 40%;
    border-radius: 50%;
    display: flex;
    align-items: right;
    justify-content: right;
    background-size: cover;
    -webkit-background-position: center;
    background-position: center center;
    margin: 20px;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, k0);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

@keyframes animate {
    0%, 100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
}

.section-about {
    padding: 100px 40px;
    /* padding atas/bawah 100px dan kiri/kanan 40px */
    margin-top: 80px;
    /* background-color: #6b7d7d; */
}

.about-img {
    float: left;
    width: 30%;
    margin-right: 15px;
    border-radius: 10px;
}

.about-p {
    font-size: 15px;
    margin: 15px;
    /* color: white; */
    /* position: absolute; */
    /* padding-top: 0;
    padding-left: 150px; */
}

.about-h3 {
    font-size: 2rem;
    /* color: white; */
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
    /* Jarak dari tepi kontainer */
    padding-left: 100px;
}

.button-cv {
    --b: 3px;
    /* border thickness */
    --s: .45em;
    /* size of the corner */

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--main-color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--main-color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-cv:hover {
  --_p: 0px;
  outline-color: var(--main-color);
}

.button-cv:active {
  background: var(--main-color);
  color: #fff;
}


.cvbutton {
    padding-top: 20px;
}

.project-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background: var(--text-color);
    color: var(--bg-color);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.certificate-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.project-card-certificate {
    background: var(--text-color);
    color: var(--bg-color);
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
    width: 300px;
}

/* .project-card-certificate:hover {

} */

.certificate {
    width: 100%;
}

.a-certificate {
    color: #fff;
}

.a-certificate:hover {
    color: var(--main-color);
}

.activities {
    width: 100%;
}

.a-activities {
    color: #fff;
}

.a-activities:hover {
    color: var(--main-color);
}

/* Education & Organization  */
.title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
  background: linear-gradient(to right, var(--main-color), var(--secondary-color));
  color: white;
}
.quality-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* Add gap to create space between columns */
}

.quality-left, .quality-right {
    flex: 1;
    /* This will make the columns equal in width */
}

.checkpoint {
    margin-bottom: 20px;
}

/* Optional: Styling for responsiveness */
@media (max-width: 768px) {
    .quality-container {
        flex-direction: column;
    }
}


/* .quality-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
} */

/* .checkpoint:nth-child(odd){
    border-left: 3px solid #888;
    padding-left: 3em;
    transform: translateX(17em);
}

.checkpoint:nth-child(even){
    border-right: 3px solid #888;
    padding-right: 3em;
    transform: translateX(17em);
}

.checkpoint:nth-child(odd)::before, 
.checkpoint:nth-child(even)::before {
    content: '';
    background: #888;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before {
    left: 0;
} */ 

/* About me */
.arch_contact_us_duplicate * {
    font-family: Nunito, sans-serif;
  }
  
  .arch_contact_us_duplicate    {
    width: 100%;
    height: 100%;
  }
  
  .arch_contact_us_duplicate {
    width: 30px;
    height: 30px;
  }
  
  .arch_contact_us_duplicate .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 25px;
  }
  
  .arch_contact_us_duplicate .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .arch_contact_us_duplicate .responsive-cell-block {
    min-height: 75px;
  }
  
  .arch_contact_us_duplicate .responsive-container-block.big-container {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 20px;
  }
  
  .arch_contact_us_duplicate .responsive-container-block.container {
    max-width: 1100px;
    justify-content: space-evenly;
  }
  
  .arch_contact_us_duplicate .text-blk.section-head {
    font-size: 50px;
    line-height: 65px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 24px;
    margin-left: 0px;
  }
  
  .arch_contact_us_duplicate .text-blk.section-subhead {
    font-size: 14px;
    line-height: 18px;
    color: #7e7e7e;
  }
  
  .arch_contact_us_duplicate .input {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    height: 54px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    padding-top: 1px;
    padding-right: 16px;
    padding-bottom: 1px;
    padding-left: 16px;
    font-size: 16px;
  }
  
  .arch_contact_us_duplicate .textinput {
    width: 100%;
    height: 125px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 27px;
    margin-left: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: var(--main-color);
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
  }
  
  .arch_contact_us_duplicate .button {
    height: 50px;
    min-width: 240px;
    font-size: 16px;
    color: white;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
    background-color: var(--main-color);
  }
  
  .arch_contact_us_duplicate .form-wrapper {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #f3f2cf;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .arch_contact_us_duplicate .social-media-icon-container {
    padding-right: 15rem;
    display: flex;
    max-width: 400px;
    justify-content: space-evenly;
    padding-bottom: 3rem;
  }
  
  .arch_contact_us_duplicate .input-element {
    background-color: var(--main-color);
  }
  
  .arch_contact_us_duplicate .social-icon {
    fill: #b0ab4d;
  }
  
  @media (max-width: 1024px) {
    .arch_contact_us_duplicate .text-blk.section-head {
      font-size: 55px;
      line-height: 60px;
    }
  
    .arch_contact_us_duplicate .responsive-container-block.container {
      justify-content: space-between;
    }
  }
  
  @media (max-width: 768px) {
    .arch_contact_us_duplicate .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-6.wk-desk-5 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 80px;
      margin-left: 0px;
    }
  
    .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-ipadp-6.wk-desk-5.wk-tab-10 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 80px;
      margin-left: 0px;
      text-align: center;
    }
  
    .arch_contact_us_duplicate .input {
      height: 45px;
    }
  
    .arch_contact_us_duplicate .responsive-container-block.container {
      justify-content: space-evenly;
      margin-top: 80px;
      margin-right: 0px;
      margin-bottom: 80px;
      margin-left: 0px;
    }
  
    .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-desk-5.wk-tab-10.wk-ipadp-5 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 80px;
      margin-left: 0px;
    }
  }
  
  @media (max-width: 500px) {
    .arch_contact_us_duplicate .text-blk.section-head {
      font-size: 40px;
      line-height: 45px;
    }
  
    .arch_contact_us_duplicate .responsive-container-block.big-container {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }
  
    .arch_contact_us_duplicate .input {
      height: 40px;
    }
  
    .arch_contact_us_duplicate .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-6.wk-desk-5 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 80px;
      margin-left: 0px;
    }
  
    .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-ipadp-6.wk-desk-5.wk-tab-10 {
      text-align: left;
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }
  
    .arch_contact_us_duplicate .responsive-container-block.big-container {
      padding-top: 0px;
      padding-right: 30px;
      padding-bottom: 0px;
      padding-left: 30px;
    }
  
    .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-desk-5.wk-tab-10.wk-ipadp-5 {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }
  
    .arch_contact_us_duplicate .button {
      width: 100%;
    }
  
    .arch_contact_us_duplicate .button {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 40px;
      margin-left: 0px;
      height: 50px;
    }
  
    .arch_contact_us_duplicate .form-wrapper {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 40px;
      margin-left: 0px;
    }
  
    .arch_contact_us_duplicate {
      width: 25px;
      height: 25px;
    }
  }

  .icon-block {
    display: inline-block;
    position: relative;
  }
  
  .icon-block a {
    display: inline-block;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  .icon-block a:hover {
    background-color: #f09433; /* Instagram color or any preferred background */
  }
  
  .icon-block svg {
    fill: #000; /* Icon color */
    transition: fill 0.3s ease;
  }
  
  .icon-block a:hover svg {
    fill: #fff; /* Icon color on hover */
  }
  